/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

html {
  height: 100vw;
}
body {
  background-image: url("../img/visax-R2cMIaV4tyg-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Todo header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.2); /* branco com transparência */
  backdrop-filter: blur(10px); /* efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* suporte para Safari */
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control button {
  margin-left: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* Todo toolbar - barra de ferramentas */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
  color: #363333;
}

#filter-select option {
  color: #363333;
}

/* Todo List */
.todo {
  display: flex;
  flex-direction: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1; /*utiliza o máximo de espaço*/
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #24f109;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

input {
  color: #1d1c1c;
}
